
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300&family=Roboto:wght@300;400&display=swap');

/* font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header{
    background-color: black;
    color: orange;
    height: 80px;
    padding: 20px;
    font-size: 22px;
}

.logo{
    float: left;
    font-weight: bold;
    font-size: 32px;
    padding: 5px;
}

.logo span{
    color: white;
}

.barra{
    float: right;
}
nav ul li{
    text-decoration: none;
    display: inline-block;
}

nav a{
    color: orange;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    text-shadow: 0 0 10px white; 
}

nav a:hover{
    color: white;
}

main{
    height: 130vh;
    width: 100%;
    background-color: black;
    background-image: url(img/playstation-6689793_1280.jpg);
    background-size: cover;
    background-position:top left;
}
.call{
    color: orange;
    background-color: rgba(0, 0, 0,0.7);
    border: solid 4px orange;
    width: 40%;
    float: right;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: white;
    margin-bottom: 20px;
}

.call a{
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
}

.call p{
    margin-bottom: 20px;
}

.call a:hover{
    color: black;
    font-weight: bold;
}
#sec1{
    text-align: center;
    color: orange;
    background-color: black;
    text-transform: uppercase;
    padding: 20px;
    border:5px solid orange;
}

#sec2{
    text-align: center;
    color: orange;
    background-color: black;
    text-transform: uppercase;
    padding: 20px;
    border:5px solid orange;
}

#sec3{
    text-align: center;
    color: orange;
    background-color: black;
    text-transform: uppercase;
    padding: 20px;
    border:5px solid orange;
}

#sec4{
    text-align: center;
    color: orange;
    background-color: black;
    text-transform: uppercase;
    padding: 20px;
    border:5px solid orange;
}

#sec5{
    text-align: center;
    color: orange;
    background-color: black;
    text-transform: uppercase;
    padding: 20px;
    border:5px solid orange;
}
.sec{
    height: 700px;
    background-color: black;
    padding: 20px;


}

.footer{
    text-align: center;
    background-color: black;
    color: orange;
    border:5px solid orange;
    font-size: 24px;
    padding: 20px;
    }

#pFooter{
    font-size: 34px;
}

#pFooter span{
    color: white;
}

#pFooter1{
    color: #333;
}

#pFooter2{
    color: white;
}

.footer a{
    color: orange;
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 20px;
}

.footer a:hover{
    color: white;
}
.subir{
    height: 40px;
    width: 40px;
    background-color:orange;
    color: black;
    position: fixed;
    right: 40px;
    bottom: 60px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
}

.whatsapp{
    height: 40px;
    width: 40px;
    background-color:orange;
    color: black;
    position: fixed;
    right: 40px;
    bottom: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
}

.caja{
    height: 300px;
    width: 85%;
    background-color: orange;
    margin: 30px 100px;
    padding: 30px;
}
#imgCaja1{
    height: 200px;
    width: 25%;
    float: left;
    padding: 20px;
}

#pCaja1{
    float: right;
    width: 70%;
    padding-top: 40px;
}

#imgCaja2{
    height: 200px;
    width: 25%;
    float: left;
    padding: 20px;
}

#pCaja2{
    float: right;
    width: 70%;
    padding-top: 40px;
}

.sec2 span{
    text-decoration:underline;
    font-weight: bold;
}

.imgNosotros{
    width: 800px;
    height: 400px;
    margin: 30px 250px;
}
.sec2{
    height: 1300px;
    background-color: black;
    padding: 20px;
    color: white;
}
.sec3{
    height: 1100px;
    background-color: black;
    padding: 20px;
    color: white;
}

.sec4{
    height: 2100px;
    background-color: black;
    padding: 20px;
    color: white;
    
}

.sec5{
    height: 550px;
    background-color: black;
    padding: 20px;
    color: white;
}
.productCard{
    height: 300px;
    width: 85%;
    background-color: orange;
    margin: 30px 100px;
    padding: 30px;
}
.caja3 p{
    padding-left:85% ;
    font-size: 24px;
    color: black;
}

.caja3 p span{
    font-weight: bold;
    color: white;
}

.caja3 img{
    height: 200px;
    width: 25%;
    float: left;
    padding: 20px;
}

.caja4 p{
    padding-left:85% ;
    font-size: 24px;
    color: black;
}

.caja4 p span{
    font-weight: bold;
    color: white;
}

.caja4 img{
    height: 250px;
    width: 25%;
    float: left;
    padding: 20px;
}

.contacto{
    height: 280px;
    width: 85%;
    background-color: orange;
    margin: 30px 100px;
    padding: 20px;
    font-size: 20px;
    color: black;
}

.contacto form{
    text-align: center;
}

.contacto label{
    padding: 30px;
}

.sec5 p{
    text-align: center;
    font-size: 26px;
}

.sec5 p span{
    font-weight: bold;
    color: orange;
}

iframe {
    width: 400px;
    height: 400px;
    margin: 30px 400px;
}

::-webkit-scrollbar{
    width: 12px;
}


::-webkit-scrollbar-track {
    background: gray;        
}

::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 10px;
}